body {
  font: 100%/1.4 Helvetica, Arial, sans-serif;
  padding: 5em;
}

.button {
	background-color: red;
	padding: 10px 15px;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	/*transition: background-color 0.25s linear, 
			color 0.25s linear;*/
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear 1s;
}

.button:hover,
.button:focus {
	background-color: green;
	color: blue;
}
/*Tooltip*/
.tooltip {
	position: relative;

}

.tooltip:hover {
	display: block;
}

.tooltip span {
	visibility: hidden;
	position: absolute;
	top: 125%;
	left: 0;
	background: #000;
	color: #fff;
	padding: 5px;
	width: 100px;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	margin-left: -55px;
	transition: opacity 0.25s linear;
	pointer-events: none;
}

.tooltip:hover span {
	opacity: 1;
}
