/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/

/******************************************
/* LAYOUT                   
/*******************************************/

header {
     background-color: black;
     float: left;
     width: 100%;
     border-bottom: yellow solid 5px;
}
h1 {
     color: yellow;
     float: left;
     margin: 0 0 0 0;
     padding: 10px;
}
nav ul li a{
     float: left;
     color: white;
     padding: 10px;
     text-decoration: none;
     padding-left: 12px;
     padding-top: 50px;
}

.header2 {
     background-color: lightgrey;
     font-family: 'Merriweather', sans-serif;
     text-decoration: none;
     text-align: center;
     font-size: 30px;
}
del {
     color: grey;
}
ins {
     text-decoration: underline;
}
.banner{
     background: url("../images/coworking.jpg") no-repeat;
     background-size: cover;
     overflow: hidden;
     padding: 3%;
}

.firstbox {
     float: right;
     margin: 30px;
     width: 40%;
     padding: 30px;
     opacity: 0.8;
     box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
     background-color: lightgrey;
}
.firstbox p{
     font-size: 12px;
}

.button {
     background-color: yellow;
     color: black;
     padding: 5px;
     margin: 10px;
     border: solid yellow;
    
}
.boxes {
background-color: none;
float: left;
width: 33%;
}


.footer {
     background-color: black;
     width: 100%;
}



