/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* LAYOUT                   
/*******************************************/

header {
     background-color: black;
     float: left;
     width: 100%;
     border-bottom: yellow solid 5px;
}
h1 {
     color: yellow;
     float: left;
     margin: 0 0 0 0;
     padding: 10px;
}
nav ul li a{
     float: left;
     color: white;
     padding: 10px;
     text-decoration: none;
     padding-left: 12px;
     padding-top: 50px;
}

.header2 {
     background-color: lightgrey;
     font-family: 'Merriweather', sans-serif;
     text-decoration: none;
     text-align: center;
     font-size: 30px;
}
del {
     color: grey;
}
ins {
     text-decoration: underline;
}
.banner{
     background: url("../images/coworking.jpg") no-repeat;
     background-size: cover;
     overflow: hidden;
     padding: 3%;
}

.firstbox {
     float: right;
     margin: 30px;
     width: 40%;
     opacity: 0.8;
     border: solid;
     background-color: lightgrey;
}
.firstbox p{
     font-size: 12px;
}

.button {
     background-color: yellow;
     color: black;
     padding: 10px;
     margin: 10px;
     border: solid yellow;
    
}
.infobox {
float: left;
width: 33%;
background-color: none;
}

.footer {
     background-color: black;
     width: 100%;
}



