header,
section,
aside,
footer {
	padding: 20px;
}

header {
	background-color: #000;
	color: #FFF;
}

section {
	background: #F35;
	padding: 20px;
}

aside {
	background: #9EF;
	padding: 20px;
}
footer {
	background:#5E3;
}
section section{
	background: yellow;
}